body{
    background-image: url(../style.css);
    background-attachment: fixed;
}

table, td, th{
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    
}

h2{
    color: white;
    font-size: 25px;
}
h5{
    color: white;
    font-size: 15px;
    text-decoration: wavy;
}

td a{
    cursor: pointer;
}

td a img{
    width: 150px;
    height: 75px;
}

.bliznetsi{
    height: 700px;
    width: 960px;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
}

.bliznetsi img{
    width: 390px;
    height: 300px;
    border: 2px solid white;
    float: right;
    margin: 5px;
    padding: 5px;
}

.bliznetsi .bl1{
    color: darkgoldenrod;
    text-align: center;
    font-size: larger;
}