@import'./bloks/rak.css';
@import'./bloks/bliznetsi.css';
@import'./bloks/deva.css';
@import'./bloks/kozerog.css';
@import'./bloks/lev.css';
@import'./bloks/oven.css';
@import'./bloks/scorpion.css';
@import'./bloks/strilets.css';
@import'./bloks/telets.css';
@import'./bloks/vesi.css';
@import'./bloks/vodoley.css';
@import'./bloks/start.css';





body{
    background-image: url(../img/horoscope_bkgr.jpg);
    background-attachment: fixed;
}

table, td, th{
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    
}

h2{
    color: white;
    font-size: 25px;
}

h5{
    color: white;
    font-size: 18px;
}

td a{
    cursor: pointer;
}

td a img{
    width: 150px;
    height: 75px;
}

.fish{
    height: 700px;
    width: 960px;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
}

.fish img{
    width: 390px;
    height: 300px;
    border: 2px solid white;
    float: left;
    margin: 5px;
    padding: 5px;
}

.fish .f1{
    color: darkgoldenrod;
    text-align: center;
    font-size: larger;
}